.header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.navi {
    padding: 15px;
    font-size: 18px;
}

.nav-item {
    padding: 15px;
}

.nav-item:hover {
    color: grey !important;
    border-bottom: 4px solid white;
}